.auth-container {
    background-color: var(--secondary);
    padding: 40px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px var(--box-shadow);
    width: 100%;
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 199px;
}

.auth-container h2 {
    color: var(--main-theme);
    text-align: center;
    font-size: 2em;
    position: relative;
    top: -20px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid var(--background-disabled);
    font-size: 1em;
    box-sizing: border-box;
}

.auth-container button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: var(--main-theme);
    color: var(--secondary);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-up-container button[type="submit"]:hover {
    background-color: #0090ad;
}

#password-requirements {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
    font-size: 14px;
}

#password-requirements li {
    display: flex;
    align-items: center;
    color: var(--text-disabled);
    margin-bottom: 8px;
}

#password-requirements li i {
    margin-right: 10px;
    font-size: 18px;
}

#password-requirements li.completed {
    color: var(--sucess);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

.eye-button {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
}

.error {
    color: var(--error);
    text-align: center;
    margin-top: 10px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 38px;
    cursor: pointer;
    font-size: 14px;
}

.auth-link {
    margin-top: 15px;
    text-align: center;
}

.auth-link a {
    color: var(--main-theme);
    text-decoration: none;
}

#btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: var(--main-theme);
    color: var(--secondary);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn:disabled {
    background-color: var(--background-disabled);
    color: var(--text-disabled);
    cursor: default;
}