html, body {
    height: 100%;
    margin: 0;
}

:where(body) > .auth-page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:where(body) > .auth-page-wrapper main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    box-sizing: border-box;
}

.auth-container {
    background-color: var(--secondary);
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 20px var(--box-shadow);
    width: 100%;
    max-width: 25vw;
    font-family: 'Inter', sans-serif;
}

.auth-container h2 {
    color: var(--main-theme);
    text-align: center;
    font-size: 2em;
    position: relative;
    top: -0.5em;
}

.auth-container input {
    width: 100%;
    padding: 0.7em;
    margin-top: 0.5em;
    border-radius: 6px;
    border: 1px solid var(--background-disabled);
    font-size: 1em;
    box-sizing: border-box;
}

.auth-container #password-requirements {
    list-style: none;
    padding-left: 0;
    margin: 1em 0;
    font-size: 14px;
}

.auth-container #password-requirements li {
    display: flex;
    align-items: center;
    color: var(--text-disabled);
    margin-bottom: 0.5em;
}

.auth-container #password-requirements li i {
    margin-right: 0.5em;
    font-size: 18px;
}

.auth-container #password-requirements li.completed {
    color: var(--success);
}

.auth-container label {
    display: block;
    margin-top: 0.7em;
    font-weight: 600;
}

.auth-container .eye-button {
    position: absolute;
    right: 0.5em;
    top: 1.6em;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
}

.auth-container .error {
    color: var(--error);
    text-align: center;
    margin-top: 0;
}

.auth-container .password-wrapper {
    position: relative;
}

.auth-container .auth-link {
    margin-top: 1em;
    text-align: center;
}

.auth-container .auth-link a {
    color: var(--main-theme);
    text-decoration: none;
}

.auth-container #btn {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    background-color: var(--main-theme);
    color: var(--secondary);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-container #btn:disabled {
    background-color: var(--background-disabled);
    color: var(--text-disabled);
    cursor: default;
}