.carousel-wrapper {
    width: 100%;
    overflow-x: auto;
    padding: 0 2em;
    box-sizing: border-box;
}

.category-carousel {
    display: flex;
    gap: 15px;
    padding: 1em 0;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    justify-content: center;
    transition: justify-content 0.3s ease;
}

.category-carousel.scrollable {
    justify-content: flex-start;
}

.category-card {
    width: 7vw;
    height: 6vw;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    color: var(--main-text-color);
    text-decoration: none;
    scroll-snap-align: start;
    flex-shrink: 0;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-card#admin {
    background-color: var(--text-Xlight);
    color: var(--secondary);
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px var(--box-shadow);
}

.category-icon {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.category-menu {
    position: relative;
    z-index: 2;
    padding: 10px 0;
    background-color: var(--main-background);
}

.category-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.category-menu .category-item {
    position: relative;
    padding: 10px 20px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
}

.category-menu .category-item a {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
}

.category-menu .category-item:hover {
    border-bottom: solid var(--main-theme);
    transition: border-color 0.3s ease;
}

.category-menu .subcategories {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    background-color: var(--main-background);
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
    min-width: 200px;
    box-shadow: 0 4px 12px var(--box-shadow);
}

.category-menu .category-item:hover .subcategories {
    display: block;
}

.category-menu .subcategories li {
    padding: 10px;
}

.category-menu .subcategories li a {
    color: var(--main-text-color);
    text-decoration: none;
}

.iconpicker-popover.popover .popover-title input[type=search].iconpicker-search {
    max-width: 100%;
}

@media (max-width: 768px) {

	.carousel-wrapper {
		padding: 0 0.5em;
	}

	.category-carousel {
		gap: 8px;
		padding: 0.5em 0;
	}

	.category-card {
		width: 30vw;
		height: 26vw;
		font-size: 0.75em;
		padding: 0.7em;
	}

	.category-icon {
		font-size: 1.5em;
		margin-bottom: 0.2em;
	}

	.category-menu {
		display: none;
	}


}
