:root {
    --main-text-color: #3c3c3c;
    --primary-color: #00b4d8;
    --bg-color: #f0f4f8;
    --accent-light: #e1ecf4;
    --sidebar-width: 250px;
    --icon-width: 50px;
    --text-offset: 20px;
}

.dashboard {
    display: flex;
    min-height: 590px;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    position: relative;
}

.sidebar {
    width: var(--icon-width);
    overflow: hidden;
    background-color: white;
    padding: 2em 1em;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: width 0.3s ease;
    flex-shrink: 0;
    position: absolute;
}

.sidebar:hover {
    width: var(--sidebar-width);
}

.sidebar h3 {
    width: 100%;
    font-size: 2em;
    color: var(--main-text-color);
    margin-bottom: 1em;
    text-align: center;
    transition: opacity 0.3s ease;
}

.sidebar h3 span {
    font-size: 1em;
    color: var(--primary-color);
    margin-bottom: 1em;
    text-align: center;
    display: none;
}

.sidebar h3 i {
    font-size: 1em;
    color: var(--primary-color);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 1em 0;
    position: relative;
    align-items: start;
    transition: background-color 0.3s ease;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--accent-light);
    color: var(--primary-color);
}

.sidebar a i {
    font-size: 1.5em;
}

.sidebar ul li a span {
    width: 250px;
    display: inline-block;
    position: absolute;
    left: calc(var(--text-offset) + 25px);
    opacity: 0;
    transition: left 0.3s ease;
}

.sidebar:hover ul li a span {
    left: calc(var(--icon-width) + 10px);
    opacity: 1;
}

.sidebar:hover h3 span {
    display: block;
}

.sidebar:hover h3 i {
    display: none;
}

.dashboard-content {
    display: flex;
    position: relative;
    flex-grow: 1;
    padding: 2em;
    margin-left: calc(var(--sidebar-width) / 2);
    transition: margin-left 0.3s ease;
}

.dashboard-content h2 {
    color: var(--primary-color);
    margin-bottom: 1em;
}

.tab-content {
    display: none;
    width: 100%;
}

.tab-content.active {
    display: flex;
    width: 100%;
}

.sidebar .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout {
    margin-bottom: auto;
}

