.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--box-shadow-strong);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

.modal-content {
	background: var(--secondary);
	padding: 1.5em;
	border-radius: 10px;
	max-width: 35vw;
	width: 100%;
	max-height: 90vh;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal-content h3 {
	margin-top: 0;
}

.modal-content label {
	display: block;
	margin-top: 1em;
}

.modal-content input[type="text"],
.modal-content input[type="time"],
.modal-content input[type="file"],
.modal-content select,
.modal-content textarea {
	width: 100%;
	padding: 1em;
	margin: 0.5em 0 1em;
	border-radius: 6px;
	border: 1px solid var(--background-disabled);
	box-sizing: border-box;
}

.modal-content button {
	padding: 1em;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-top: 0.5em;
}

.modal-content button[type="submit"],
.btn.save {
	background-color: var(--main-theme);
	color: var(--secondary);
	font-weight: bold;
}

.modal-content button[type="submit"]:hover,
.btn.save:hover {
	background-color: var(--main-theme-darker);
}

.modal-content button[type="submit"]:disabled,
.btn.save:disabled {
	background-color: var(--background-disabled);
	color: var(--text-disabled);
	cursor: default;
}

#cancelEditProfile,
#cancelEditBio,
#cancelEditPrefs,
.btn.cancel {
	background: var(--button-cancel);
	color: var(--main-text);
	font-weight: bold;
	transition: background-color 0.3s ease;
}

#cancelEditProfile:hover,
#cancelEditBio:hover,
#cancelEditPrefs:hover,
.btn.cancel:hover {
	background-color: var(--button-cancel-hover);
}

.modal-content fieldset {
	border: 1px solid var(--background-disabled);
	border-radius: 8px;
	padding: 1em;
	margin-top: 1em;
	background-color: var(--main-background-darker);
}

.modal-content legend {
	font-weight: bold;
	padding: 0 0.5em;
	color: var(--main-text);
}

.modal-content fieldset>div:last-child {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.day-time {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 0.5em;
	margin-bottom: 1em;
}

.modal-buttons {
	display: flex;
	gap: 1em;
	margin-top: 0.5em;
	justify-content: flex-end;
}

#editBioModal textarea {
	resize: vertical;
}

@media (max-width: 768px) {
	.modal-content {
		max-width: 90vw;
		padding: 2em;
		max-height: 80vh;
		font-size: 1.1em;
		margin-left: auto;
		margin-right: auto;
		left: auto !important;
		right: auto !important;
		transform: none !important;
		position: relative;
		margin-left: 1em;
	}

	.modal {
		align-items: flex-start;
		padding-top: 5em;
		justify-content: center;
	}
}
