header {
    border-bottom: 1px solid rgba(211, 213, 219, 0.654);
    padding: 1.5em 2em;
}

.logo img {
    max-height: 3.5em;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 6px 12px;
    border-radius: 5px;
}

nav a:hover {
    color: var(--main-theme);
}