form.alt-style {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1.5em 0;
}

form.alt-style input[type="text"] {
    width: 40%;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid var(--main-theme);
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

form.alt-style .search-icon {
    color: var(--main-theme-darker);
    font-size: 1.2rem;
}

.search-page {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 3em;
    margin: 2em;
}

.search-page .filters {
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.search-page .services-grid {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.search-page .services-grid .service-card {
    width: 100%;
}