body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background: var(--main-background);
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text);
}