#typing-effect {
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary);
    border-right: 2px solid var(--secondary);
    padding-right: 5px;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 6em;
    left: 50%;
    transform: translateX(-50%);
    animation: typing 4s steps(40) 1s forwards, blink-caret 1s step-end infinite;
    z-index: 1;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 21em;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 768px) {
	#typing-effect {
		font-size: 1.2em;
		white-space: normal;
		width: auto;
		max-width: 90vw;
		animation: none;
		overflow: visible;
		border-right: none;
		position: absolute;
		top: 10rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}
}
